
.flex{
    display: flex;
    align-items: center;
}
h1{
    font: bold;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    background: lightblue;
    background-image: url('worldmap.jpeg');
    background-repeat:no-repeat ;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}
.weather{
    padding: 1em;
    border-radius: 30px;
    margin: 10px 5px;
    background: #000;
    color: whitesmoke;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.search{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}
.search input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 70%;
    background: white;

}
.submit {
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    border-left: none;
    cursor: pointer;
    background: black;
    opacity: 70%;
  }

.fa-crosshairs{
    padding: 10px;
    background: black;
    opacity: 70%;
    color: white;
    border-radius: 10px;

}
button:hover{
      background:black ;
      opacity: 100%;
  }
.comment, .comment1,.comment2, .comment3,.commen4, .comment5,.comment6{
    text-transform: capitalize;
}

.grid-layout6{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}
.weather-forcast-week{
    border-radius: 10px;
    margin: 0 5px 5px;
    background-color: #000;
    color: white;
    opacity: 70%;
}
.grid-layout6 div{
    margin: 10px;
    align-self: start;
    text-align: left;

}
.weather div{
    margin: 5px;
    align-items: left;

}

@media (max-width:880px){
    .weather{
       height: auto;
        width: 30%;
        font-size: smaller;
       
    }
    .grid-layout6{
        height: auto;
        width: auto;
        font-size: smaller;
    }
    .weather-forcast-week{
        height: auto;
        width: auto;
    }
    .flex{
        height: auto;
        width: auto;
    }
   
}