.flex {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background: lightblue;
    background-image: url('worldmap.jpeg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

.weather {
    padding: 1em;
    border-radius: 30px;
    margin: 10px 5px;
    background: #000;
    color: whitesmoke;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 70%;
}

.submit {
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    border-left: none;
    background: black;
    opacity: 70%;
}

.fa-crosshairs {
    padding: 10px;
    background: black;
    opacity: 70%;
    color: white;
    border-radius: 10px;

}

button:hover {
    background: black;
    opacity: 100%;
}

.comment,
.comment0,
.comment1,
.comment2,
.comment3,
.commen4,
.comment5,
.comment6 {
    text-transform: capitalize;
}

.dayLayout {
    display: flex;
    text-align: center;

}

.weather-forcast-week {
    border-radius: 10px;
    margin: 0 5px 5px;
    background-color: #000;
    color: white;
    opacity: 70%;
}

.dayLayout div {
    margin: 10px;
}

.weather div {
    margin: 5px;
}


@media (max-width:850px) {
    .weather {

        font-size: x-small;
        align-items: center;
    }

    .dayLayout {
        height: auto;
        width: auto;
        font-size: x-small;
        text-align: center;

    }

    .submit,
    h1,
    .searchbox {
        font-size: small;
    }
}

@media (max-width:500px) {
    .weather {
        width: 90%;
    }

    .dayLayout {
        flex-direction: column;
    }

    .dayLayout div {
        text-align: center;
    }

    .weather-forcast-week {
        display: flex;
        justify-content: space-around;
    }

}